<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>测试Thymeleaf</title>
    <script type="text/javascript" src="../static/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $.ajax({
                type: "Post",
                url: "/login",
                success: function(data) {
                    console.log(data);
                },
                beforeSend: function(xhr) {
                    xhr.setRequestHeader("token", "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJ1c2VyIjoxfQ.Ubff6_ZMlkqT-Hsxp317uyiO9kAV1h4N40gMEYHs5xRsHDlJ9IMBWGuoj12nAq95a0WXOAnRRbsXVx9Ip24lsg");
                }
            });
        })
    </script>
</head>
<body>
<h3 th:text="${token}"></h3>
<h3 th:text="${id}"></h3>
<hr/>

进入用户添加：<a href="add">用户添加</a>
进入用户修改：<a href="update">用户修改</a>
</body>
</html>